/** Variables **/
/***************/

@body-background: #eee;

@primary: #bdbdbd;
@primary-dark: #8c8c8c;
@primary-light: #eeeeee;
@primary-text-color: #000000;

@secondary: #d2140a;
@secondary-dark: #851914;
@secondary-text-color: #ffffff;

@grey-text: #ccc;
@grey-text-hover: #eee;
